@import "tailwindcss";

@theme {
   --font-sans: var(--font-rubik);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik), sans-serif;
  text-wrap: balance;
  box-sizing: border-box;
}